@model Lanche
 
<div class="col-sm-4 col-md-4 col-lg-4">
            <p><img src="@Model.ImagemUrl" class="img-fluid"></p>      
            
            @*<h3>@Model.Nome</h3>*@
            <a asp-controller="Lanche" asp-action="Details" 
            asp-route-lancheId="@Model.LancheId">@Model.Nome</a>

            <p>@Model.DescricaoCurta</p>

            <h5>Preço : @Model.Preco.ToString("c")</h5>  
            
            <div>
                <p class="button">
                    <a class="bnt btn-primary" id="cartButon" asp-controller="CarrinhoCompra"
                    asp-action="AdicionarItemNoCarrinhoCompra" asp-route-LancheId="@Model.LancheId">
                    Incluir no Carrinho</a>
                </p>
            </div>
            
 </div>